<h1>Tamagoyaki</h1>
<img src="/assets/tamagoyaki.jpg" alt="sliced omelette on a plate">
<h4>Ingredients:</h4>
<ul>
	<li>4 large eggs</li>
	<li>3 tablespoons dashi soup stock</li>
	<li>1 1/2 tablespoons sugar</li>
	<li>Vegetable oil, as needed</li>
</ul>

<h4>Directions</h4>
<ol>
	<li>Beat eggs lightly</li>
	<li>Add dashi stock and sugar and mix</li>
	<li>Heat and oil tamagoyaki pan and add one scoop of egg</li>
	<li>Cook until half done and roll the egg</li>
	<li>Oil the empty part of the pan and add second scoop</li>
	<li>Cook until half done and roll the egg again</li>
	<li>Cook until done and shape with bamboo mat</li>
</ol>

<h5>Nutrition Facts</h5>
<p>
	<strong>Per Serving:</strong> 450 tastes of yum
</p>