<h1>Yeasted Raised Waffles</h1>
<img src="https://www.everopensauce.com/wp-content/uploads/2019/02/waffle4.jpg" alt="baking dish full of cooked lasagna">
<h4>Ingredients:</h4>
<ul>
	<li>1/2 cup warm water</li>
	<li>1 package dry yeast</li>
	<li>2 cups warm milk</li>
	<li>1/2 cup melted butter</li>
	<li>1 teaspoon salt</li>
	<li>1 teaspoon sugar</li>
	<li>2 cups all-purpose flour</li>
	<li>2 eggs</li>
	<li>1/4 teaspoon baking soda</li>
</ul>

<h4>Directions</h4>
<ol>
	<li>Sprinkle 1 package of dry yeast over a half cup of warm water in a large bowl and wait for it to dissolve.</li>
	<li>Meanwhile melt a stick of butter, add 2 cups of milk and allow it to just gently warm up. Add it to the yeast mixture.</li>
	<li>Mix a teaspoon each of salt and sugar into 2 cups of flour. Add this to the liquid and beat until smooth.</li>
	<li>Cover the bowl and let it stand overnight at room temperature.</li>
	<li>In the morning beat in 2 eggs and a quarter teaspoon of baking soda, stirring well. Cook on a very hot waffle iron until crisp on each side.</li>
	<li>This makes about 8 waffles, and will keep for a few days in the refrigerator.</li>
</ol>

<h5>Nutrition Facts</h5>
<p>
	<strong>Per Serving:</strong> You may not want to know
</p>