
<!--  2nd challenge Navbar -->
<div class="inv-cont">
  <div class="head-container">
    <div class="head-holder">
      
        <div class="head-item">ONE</div>
        <div class="head-item">TWO</div>
        <div class="head-item">THREE</div>
      
    </div>
    <div class="head-holder">
      <img src="/assets/leaf.jpg" alt="Logo" class ="logo">
    </div>
    <div class="head-holder">
      
        <div class="head-item">FOUR</div>
        <div class="head-item">FIVE</div>
        <div class="head-item">SIX</div>
      
    </div>

  </div>
</div>

<!--  1st challenge Center a Div -->
<div class="inv-cont">
  <div class="flex-container">
    <div>center this div</div>

  </div>
</div>

<!--  3rd challenge Navbar -->

<div class="slick-container">
    <div class="slick-navgroup slick-group1">
      <img src="/assets/leaf.jpg" alt="Logo" class ="slick-logo">
      <div class="slick-cname">CCLettuce</div>
      <div class="slick-link">link-one</div>
      <div class="slick-link">link-two</div>
      <div class="slick-link">link-three</div>
    </div>
    <div class="slick-navgroup">
      <div class="slick-notif">1 new notification</div>
      <div class="slick-icon"></div>
    </div>

</div>
<div class="slick-block">
</div>

<!---- 4th Information lineup ----->

<div class="info-head">
  Information!
</div>

<div class="info-container">

  <div class="info-card">
    <img src="/assets/lion.jpg" alt="Lion" class ="info-pic">
    <div class="info-text">This is a bigass lion.</div>
    <div class="info-text">We love this one.</div>
  </div>

  <div class="info-card">
    <img src="/assets/meerkat.jpg" alt="Meerkat troup" class ="info-pic">
    <div class="info-text">This is another type of animal. Isn't it nice?</div>
  </div>

  <div class="info-card">
    <img src="/assets/panda.jpg" alt="Panda" class ="info-pic">
    <div class="info-text">Yay Panda! This is actually two pandas but one of them is imaginary.</div>
  </div>

  <div class="info-card">
    <img src="/assets/redpanda.jpg" alt="Red Panda" class ="info-pic">
    <div class="info-text">Red Pandas are like Pandas but not really.</div>
  </div>

</div>