
  <!-- Navbar -->
  <div class="f-navbar">
    <div class="f-headlogo">Forrest</div>
    
    <ul class="f-headlinks">
      <li><%= link_to "About Us", home_about_path, class:"nav-link" %></li>
      <li>header link two</li>
      <li>header link three</li>
    </ul>
  </div>

  <!-- This website is awesome, sign up-->
  <div class="f-intro">
    <div class="f-card">
      <div class="f-bigtext">
        This website is awesome.
      </div>
      <div class="f-sectext">
        This website has some subtext that goes here under the main title. Its a smaller font and the color is lower contrast.
      </div>
      <div class="f-sign-up-button">Sign Up
      </div>
    </div>
    <img src="/assets/panda.jpg" alt="panda" class ="f-mainimage">
  </div>

  <!-- Some random information-->
    <div class="info-head">Some random information</div>
    <div class="info-container">
      <div class="info-card">
        <img src="/assets/panda.jpg" alt="alt text" class ="info-pic">
        <div class="f-cardtext">this is some subtext under an image</div>
      </div>
      <div class="info-card">
         <img src="/assets/panda.jpg" alt="alt text" class ="info-pic">
         <div class="f-cardtext">this is some subtext under an image</div>
      </div>
      <div class="info-card">
         <img src="/assets/panda.jpg" alt="alt text" class ="info-pic">
         <div class="f-cardtext">this is some subtext under an image</div>
      </div>
      <div class="info-card">
         <img src="/assets/panda.jpg" alt="alt text" class ="info-pic">
         <div class="f-cardtext">this is some subtext under an image</div>
      </div>
    </div>

  <!-- Quote -->
  <div class="f-qcard">
    <div class="qflex">
      <div>This is an inspiring quote or testimonial from a customer. Maybe it's just filling up space, or maybe people will actually read it. Who knows? All I know is that it looks nice.</div>
      <div class="f-credit">Thor Odinson</div>
    </div>
  </div>

  <!-- Call to Action, it's time, sign up -->
  <div class="f-callact">
    <div class="f-callcard">
      <div class="f-calltitle">Call to action! It's time!</div>
      <div class="f-calltext">Sign up for our prodct by clicking that button right over there!</div>
      <div class="f-sign-up-button2">Sign up</div>
    </div>
    
  </div>


<!-- <a href="recipes/find">Recipe List</a> -->